<div id="slide">
    <div id="hero-carousel" class="carousel fade hero-carousel text-center" data-ride="carousel" data-interval="6000">
        <div class="carousel-inner" role="listbox">
            <div class="item banner1 active">
                <a href="{{ site.baseurl }}/#">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-2">
                                <div class="carousel-text">
                                    <div class="h1 carousel-title">Texto Principal do Banner</div>
                                    <div class="lead carousel-description">Texto descritivo do Banner</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item banner2">
                <a href="{{ site.baseurl }}/#">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-2">
                                <div class="carousel-text">
                                    <div class="h1 carousel-title">Texto Principal do Banner</div>
                                    <div class="lead carousel-description">Texto descritivo do Banner</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item banner3">
                <a href="{{ site.baseurl }}/#">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-2">
                                <div class="carousel-text">
                                    <div class="h1 carousel-title">Texto Principal do Banner</div>
                                    <div class="lead carousel-description">Texto descritivo do Banner</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-control-buttons">
                <a class="carousel-control-button prev" data-target="#hero-carousel" data-slide="prev" style="left: 0">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-button next" data-target="#hero-carousel" data-slide="next" style="right: 0">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
        <div class="carousel-controls">
            <div class="carousel-indicators">
                <a data-target="#hero-carousel" data-slide-to="0" class="active">
                    1
                </a>
                <a data-target="#hero-carousel" data-slide-to="1">
                    2
                </a>
                <a data-target="#hero-carousel" data-slide-to="2">
                    3
                </a>
            </div>
        </div>
    </div>
</div>