---
layout: page
---
<style TYPE="text/css">
/*.gallery-image-wrapper {
  height: 300px;
  width: 300px;
  display: inline-block;
  margin: 1em;
  position: relative;
}
.gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
  max-width: 100%;
} */
.galeria{
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 15px;
}
</style>
<section class="page">
        {{site.gallery.lightbox}}
        <div class="container"> 
            <header>
                <h2 class="page-title">{{ page.title }}</h2>
                <h1><a href="javascript:window.history.go(-1)" style="font-size: 18px; color: #000;">Voltar para a Galeria de Fotos</a></h1>
            </header>
            <div class="row">
{% for image in page.images %}
    <div class="galeria col-md-4">
        <a name="{{ image.name }}"></a>
        <a href="{{ image.name }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
            <img class="" src="thumbs/{{ image.name }}" />
        </a>
    </div>
{% endfor %}
</div>
</div>
</section>