<section class="page" id="cards">
    <div class="container">
        <header>
            <h1 class="page-title">Cards de Informações</h1>
            <h2 class="page-subtitle">Exibição informações em Cards</h2>
        </header>
        <div class="content">
            <div class="infocards">
                <div class="card_item">
                    <img src="{% asset_path img/cards/card1.jpeg %}" />
                    <h3>Título do Card</h3>
                    <p>Descrição do Card</p>
                </div>
                <div class="card_item">
                    <img src="{% asset_path img/cards/card2.jpeg %}" />
                    <h3>Título do Card</h3>
                    <p>Descrição do Card</p>
                </div>
                <div class="card_item">
                    <img src="{% asset_path img/cards/card3.jpeg %}" />
                    <h3>Título do Card</h3>
                    <p>Descrição do Card</p>
                </div>
                <div class="card_item">
                    <img src="{% asset_path img/cards/card4.jpeg %}" />
                    <h3>Título do Card</h3>
                    <p>Descrição do Card</p>
                </div>
                <div class="card_item">
                    <img src="{% asset_path img/cards/card5.jpeg %}" />
                    <h3>Título do Card</h3>
                    <p>Descrição do Card</p>
                </div>
                <div class="card_item">
                    <img src="{% asset_path img/cards/card6.jpeg %}" />
                    <h3>Título do Card</h3>
                    <p>Descrição do Card</p>
                </div>
            </div>
        </div>
    </div>
</section>