<section class="page" id="carousel">
  <div class="container">
    <header>
      <h1 class="page-title">Carrossel com Parallax</h1>
      <h2 class="page-subtitle">Exibição de logomarcas ou produtos, destaque para o Fundo que se movimenta usando o efeito parallax</h2>
    </header> 
    <div class="content">
      <div class="row">
        <div class="topbrands-carousel owl-carousel">
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
          <div class="carousel_img">
            <a href="#">
              <img src="{% asset_path img/carousel/prte.png %}">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>