<section class="page" id="modal">
  <div class="container">
    <header>
      <h1 class="page-title">Exemplo de Modal</h1>
      <h2 class="page-subtitle">É só clicar em qualquer imagem que o modal irá se abrir</h2>
    </header>
    <div class="content">
      <div class="modal fade show" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Título do Modal 1</h5>
            </div>
            <div class="modal-body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Título do Modal 2</h5>
            </div>
            <div class="modal-body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="myModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Título do Modal 3</h5>
            </div>
            <div class="modal-body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade show" id="myModal4" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Título do Modal 4</h5>
            </div>
            <div class="modal-body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col-md-3" style="text-align: center; margin-bottom: 20px;">
          <a href="#" data-toggle="modal" data-target="#myModal"><img class="modal-img" src="{% asset_path img/modal/clique-aqui.png %}" /></a>
        </div>
        <div class="col-md-3" style="text-align: center; margin-bottom: 20px;">
          <a href="#" data-toggle="modal" data-target="#myModal2"><img class="modal-img" src="{% asset_path img/modal/clique-aqui.png %}" /></a>
        </div>
        <div class="col-md-3" style="text-align: center; margin-bottom: 20px;">
          <a href="#" data-toggle="modal" data-target="#myModal3"><img class="modal-img" src="{% asset_path img/modal/clique-aqui.png %}" /></a>
        </div>
        <div class="col-md-3" style="text-align: center; margin-bottom: 20px;">
          <a href="#" data-toggle="modal" data-target="#myModal4"><img class="modal-img" src="{% asset_path img/modal/clique-aqui.png %}" /></a>
        </div>
      </div>
    </div>
  </div>
</section>