<section class="page" id="numeros">
    <div class="container">
        <header>
            <h1 class="page-title">Números Animados</h1>
            <h2 class="page-subtitle">Exibição de números animados para estatisticas</h2>
        </header>
        <div class="content">
            <div class="row">

                <div class="col-lg-3 stats">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <div class="counting" data-count="10000">0</div>
                    <h5 class="white">Linhas de Códigos</h5>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <div class="counting" data-count="280">0</div>
                    <h5 class="white">Projetos Concluidos</h5>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="counting" data-count="75">0</div>
                    <h5 class="white">Clientes</h5>
                </div>

                <div class="col-lg-3 stats">
                    <i class="fa fa-coffee" aria-hidden="true"></i>
                    <div class="counting" data-count="999">0</div>
                    <h5 class="white">Xícaras de Café</h5>
                </div>

            </div>
        </div>
    </div>
</section>