<section class="page" id="fotos-videos">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h1 class="page-title">Galeria de Fotos</h1>
                    <h2 class="page-subtitle">Clique na imagem para ver os albuns de fotos</h2>
                </header>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <a href="{{ site.baseurl }}/fotos"><img style="max-width: 70%" src="{% asset_path img/fotosevideos/fotos.png %}" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <header>
                    <h1 class="page-title">Galeria de Vídeos</h1>
                    <h2 class="page-subtitle">Clique na imagem para ver os vídeos</h2>
                </header>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;">
                            <a href="{{ site.baseurl }}/videos.html"><img style="max-width: 70%" src="{% asset_path img/fotosevideos/videos.png %}" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>