<section class="page" id="tabs">
  <div class="container">
    <header>
      <h1 class="page-title">Navegação por Abas</h1>
      <h2 class="page-subtitle">O conteúdo e exibido em abas e pode alternar entre eles clicando na página que deseja
        visualizar</h2>
    </header>
    <div class="content">
      <div class="tab">
        <ul class="tabs">
          <li>
            <a href="#">Aba 1</a>
          </li>
          <li>
            <a href="#">Aba 2</a>
          </li>
          <li>
            <a href="#">Aba 3</a>
          </li>
          <li>
            <a href="#">Aba 4</a>
          </li>
          <li>
            <a href="#">Aba 5</a>
          </li>
          <li>
            <a href="#">Aba 6</a>
          </li>
        </ul>
        <div class="tab_content">
          <!-- Salao de Festas -->
          <div class="tabs_item">
            <div class="row">
              <div class="col-md-12" style="margin-bottom:30px;">
                <div class="row">
                  <div class="col-md-6">
                    <img class="img_servicos" src="{% asset_path img/tabs/tabs.jpg %}">
                  </div>
                  <div class="col-md-6">
                    <p class="conteudo">
                      Eget lorem dolor sed viverra ipsum nunc aliquet. Eu non diam phasellus vestibulum. Pellentesque
                      diam volutpat commodo sed egestas egestas fringilla phasellus. In arcu cursus euismod quis
                      viverra nibh cras. Et ligula ullamcorper malesuada proin libero nunc. Sed adipiscing diam donec
                      adipiscing tristique risus. Pellentesque diam volutpat commodo sed egestas egestas fringilla
                      phasellus faucibus. Et netus et malesuada fames. Amet consectetur adipiscing elit duis tristique
                      sollicitudin nibh sit. Integer vitae justo eget magna fermentum. Nullam non nisi est sit amet
                      facilisis magna etiam tempor. Diam quis enim lobortis scelerisque fermentum. Scelerisque viverra
                      mauris in aliquam. Vehicula ipsum a arcu cursus vitae congue. Etiam dignissim diam quis enim
                      lobortis scelerisque fermentum dui faucibus. In est ante in nibh mauris cursus mattis molestie.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Auditório -->
          <div class="tabs_item">
            <div class="row">
              <div class="col-md-12" style="margin-bottom:30px;">
                <div class="row">
                  <div class="col-md-6">
                    <img class="img_servicos" src="{% asset_path img/tabs/tabs.jpg %}">
                  </div>
                  <div class="col-md-6">
                    <p class="conteudo">
                      Eget lorem dolor sed viverra ipsum nunc aliquet. Eu non diam phasellus vestibulum. Pellentesque
                      diam volutpat commodo sed egestas egestas fringilla phasellus. In arcu cursus euismod quis
                      viverra nibh cras. Et ligula ullamcorper malesuada proin libero nunc. Sed adipiscing diam donec
                      adipiscing tristique risus. Pellentesque diam volutpat commodo sed egestas egestas fringilla
                      phasellus faucibus. Et netus et malesuada fames. Amet consectetur adipiscing elit duis tristique
                      sollicitudin nibh sit. Integer vitae justo eget magna fermentum. Nullam non nisi est sit amet
                      facilisis magna etiam tempor. Diam quis enim lobortis scelerisque fermentum. Scelerisque viverra
                      mauris in aliquam. Vehicula ipsum a arcu cursus vitae congue. Etiam dignissim diam quis enim
                      lobortis scelerisque fermentum dui faucibus. In est ante in nibh mauris cursus mattis molestie.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Sala de Treinamento-->
          <div class="tabs_item">
            <div class="row">
              <div class="col-md-12" style="margin-bottom:30px;">
                <div class="row">
                  <div class="col-md-6">
                    <img class="img_servicos" src="{% asset_path img/tabs/tabs.jpg %}">
                  </div>
                  <div class="col-md-6">
                    <p class="conteudo">
                      Eget lorem dolor sed viverra ipsum nunc aliquet. Eu non diam phasellus vestibulum. Pellentesque
                      diam volutpat commodo sed egestas egestas fringilla phasellus. In arcu cursus euismod quis
                      viverra nibh cras. Et ligula ullamcorper malesuada proin libero nunc. Sed adipiscing diam donec
                      adipiscing tristique risus. Pellentesque diam volutpat commodo sed egestas egestas fringilla
                      phasellus faucibus. Et netus et malesuada fames. Amet consectetur adipiscing elit duis tristique
                      sollicitudin nibh sit. Integer vitae justo eget magna fermentum. Nullam non nisi est sit amet
                      facilisis magna etiam tempor. Diam quis enim lobortis scelerisque fermentum. Scelerisque viverra
                      mauris in aliquam. Vehicula ipsum a arcu cursus vitae congue. Etiam dignissim diam quis enim
                      lobortis scelerisque fermentum dui faucibus. In est ante in nibh mauris cursus mattis molestie.
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Certificado Digital -->
          <div class="tabs_item">
            <div class="row">
              <div class="col-md-12" style="margin-bottom:30px;">
                <div class="row">
                  <div class="col-md-6">
                    <img class="img_servicos" src="{% asset_path img/tabs/tabs.jpg %}">
                  </div>
                  <div class="col-md-6">
                    <p class="conteudo">
                      Eget lorem dolor sed viverra ipsum nunc aliquet. Eu non diam phasellus vestibulum. Pellentesque
                      diam volutpat commodo sed egestas egestas fringilla phasellus. In arcu cursus euismod quis
                      viverra nibh cras. Et ligula ullamcorper malesuada proin libero nunc. Sed adipiscing diam donec
                      adipiscing tristique risus. Pellentesque diam volutpat commodo sed egestas egestas fringilla
                      phasellus faucibus. Et netus et malesuada fames. Amet consectetur adipiscing elit duis tristique
                      sollicitudin nibh sit. Integer vitae justo eget magna fermentum. Nullam non nisi est sit amet
                      facilisis magna etiam tempor. Diam quis enim lobortis scelerisque fermentum. Scelerisque viverra
                      mauris in aliquam. Vehicula ipsum a arcu cursus vitae congue. Etiam dignissim diam quis enim
                      lobortis scelerisque fermentum dui faucibus. In est ante in nibh mauris cursus mattis molestie.
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- SPC Brasil -->
          <div class="tabs_item">
            <div class="row">
              <div class="col-md-12" style="margin-bottom:30px;">
                <div class="row">
                  <div class="col-md-6">
                    <img class="img_servicos" src="{% asset_path img/tabs/tabs.jpg %}">
                  </div>
                  <div class="col-md-6">
                    <p class="conteudo">
                      Eget lorem dolor sed viverra ipsum nunc aliquet. Eu non diam phasellus vestibulum. Pellentesque
                      diam volutpat commodo sed egestas egestas fringilla phasellus. In arcu cursus euismod quis
                      viverra nibh cras. Et ligula ullamcorper malesuada proin libero nunc. Sed adipiscing diam donec
                      adipiscing tristique risus. Pellentesque diam volutpat commodo sed egestas egestas fringilla
                      phasellus faucibus. Et netus et malesuada fames. Amet consectetur adipiscing elit duis tristique
                      sollicitudin nibh sit. Integer vitae justo eget magna fermentum. Nullam non nisi est sit amet
                      facilisis magna etiam tempor. Diam quis enim lobortis scelerisque fermentum. Scelerisque viverra
                      mauris in aliquam. Vehicula ipsum a arcu cursus vitae congue. Etiam dignissim diam quis enim
                      lobortis scelerisque fermentum dui faucibus. In est ante in nibh mauris cursus mattis molestie.
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Vagas de Emprego -->
          <div class="tabs_item">
            <div class="row">
              <div class="col-md-12" style="margin-bottom:30px;">
                <div class="row">
                  <div class="col-md-6">
                    <img class="img_servicos" src="{% asset_path img/tabs/tabs.jpg %}">
                  </div>
                  <div class="col-md-6">
                    <p class="conteudo">
                      Eget lorem dolor sed viverra ipsum nunc aliquet. Eu non diam phasellus vestibulum. Pellentesque
                      diam volutpat commodo sed egestas egestas fringilla phasellus. In arcu cursus euismod quis
                      viverra nibh cras. Et ligula ullamcorper malesuada proin libero nunc. Sed adipiscing diam donec
                      adipiscing tristique risus. Pellentesque diam volutpat commodo sed egestas egestas fringilla
                      phasellus faucibus. Et netus et malesuada fames. Amet consectetur adipiscing elit duis tristique
                      sollicitudin nibh sit. Integer vitae justo eget magna fermentum. Nullam non nisi est sit amet
                      facilisis magna etiam tempor. Diam quis enim lobortis scelerisque fermentum. Scelerisque viverra
                      mauris in aliquam. Vehicula ipsum a arcu cursus vitae congue. Etiam dignissim diam quis enim
                      lobortis scelerisque fermentum dui faucibus. In est ante in nibh mauris cursus mattis molestie.
                      
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- / tab_content -->
      </div>
      <!-- / tab -->
    </div>
  </div>
</section>