<section class="page" id="depoimentos">
  <div class="container">
    <header>
      <h1 class="page-title">Depoimentos</h1>
      <h2 class="page-subtitle"></h2>
    </header>
    <div class="content">
      <div class="testimonial-stage">
        <div class="testimonial-frame">
          <div class="slide-reel">
            <div class="testimonial-slide slide-1">
              <div class="testimonial-image">
                <img
                  src="{% asset_path img/testimonials/1.jpg %}"
                  alt="person"
                />
              </div>
              <p class="testimonial">
                Absolutely love this animal hospital because every staff member treats our dogs as if they were their
                own! And treat us humans like we are family! They are amazing and sweet!
              </p>
              <span class="testimonial-author">Shen Huang</span>
            </div>

            <div class="testimonial-slide slide-2">
              <div class="testimonial-image">
                <img src="{% asset_path img/testimonials/2.jpg %}" alt="person" />
              </div>
              <p class="testimonial">
                Absolutely love this animal hospital because every staff member treats our dogs as if they were their
                own! And treat us humans like we are family! They are amazing and sweet!
              </p>
              <span class="testimonial-author">Cooper Dartnell</span>
            </div>

            <div class="testimonial-slide slide-3">
              <div class="testimonial-image">
                <img src="{% asset_path img/testimonials/1.jpg %}" alt="person" />
              </div>
              <p class="testimonial">
                Absolutely love this animal hospital because every staff member treats our dogs as if they were their
                own! And treat us humans like we are family! They are amazing and sweet!
              </p>
              <span class="testimonial-author">Susan Hamel</span>
            </div>

            <div class="testimonial-slide slide-4">
              <div class="testimonial-image">
                <img src="{% asset_path img/testimonials/2.jpg %}" alt="person" />
              </div>
              <p class="testimonial">
                Absolutely love this animal hospital because every staff member treats our dogs as if they were their
                own! And treat us humans like we are family! They are amazing and sweet!
              </p>
              <span class="testimonial-author">Anne Moreau</span>
            </div>

            <div class="testimonial-slide slide-5">
              <div class="testimonial-image">
                <img src="{% asset_path img/testimonials/1.jpg %}" alt="person" />
              </div>
              <p class="testimonial">
                Absolutely love this animal hospital because every staff member treats our dogs as if they were their
                own! And treat us humans like we are family! They are amazing and sweet!
              </p>
              <span class="testimonial-author">Lori Ryan</span>
            </div>
          </div>

          <a href="javascript:void(0);" class="testimonial-arrows prev-button"></a>
          <a href="javascript:void(0);" class="testimonial-arrows next-button"></a>
          <div class="dots"></div>
        </div>
      </div>
    </div>
  </div>
</section>
