#carousel {
  width: 100%;
  height: auto;
  background-image: url(../img/parallax_bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  left: 0;
  top: 0;

  .page-title {
    color: #000;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 1);
  }

  .carousel_img {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
    width: 99%;
  }

  .carousel_img:hover {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  }

  .topbrands-carousel {
    &.owl-carousel {
      padding: 0 30px;

      .owl-item {
        img {
          max-width: 130px;
          margin: 0 auto;
          text-align: center;
        }
      }

      .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;

        .owl-prev {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);

          span {
            font-size: 40px;
            color: #000;
          }
        }

        .owl-next {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);

          span {
            font-size: 40px;
            color: #000;
          }
        }
      }
    }
  }
}
