#noticiafull {
  header {
    .page-title {
      color: $text;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      text-align: center;
    }
    .page-subtitle {
      color: #303030;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
    }
  }
}
